<html>

<%- include('../partials/head.ejs') %>

  <body>

    <!-- Header -->

    <%- include('../components/header.ejs') %>

      <!-- SEARCH & AUTHORS -->

      <%- include('../components/searchWithAuthors.ejs', {lastAuthors: lastAuthors}) %>
        <!-- Content & filter -->
        <section class='flex justify-center py-6' style='min-height: calc(100vh - 176px);'>
          <div class='container px-6 md:px-24 lg:px-48 xl:px-72'>

            <!-- CREATE QUOTE BUTTON -->
            <a href='CreateQuote.html'>
              <button data-tooltip-target='addQuote' data-tooltip-placement='top' type='button'
                class='fixed shadow-lg bottom-10 right-10 flex items-center justify-center p-0 w-12 h-12 text-gray bg-primary rounded-full hover:bg-primary-light'>
                <svg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6 text-white' fill='none' viewBox='0 0 24 24'
                  stroke='currentColor'>
                  <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 6v6m0 0v6m0-6h6m-6 0H6'>
                  </path>
                </svg>
              </button>
              <div id='addQuote' role='tooltip'
                class='inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-800 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700'>
                Hikmat yaratish
                <div class='tooltip-arrow' data-popper-arrow></div>
              </div>
            </a>

            <!-- CONTEXT -->
            <div class='mb-6 w-full' id='tab'>
              <!-- TAB MENUES -->
              <div class='border-b-2 border-gray-200 dark:border-gray-700 mb-4'>
                <ul class='flex flex-nowrap -mb-px overflow-x-auto' id='myTab' data-tabs-toggle='#myTabContent'
                  role='tablist'>

                  <li class='mr-2' role='presentation'>
                    <button
                      class='active inline-flex items-center text-gray-500 whitespace-nowrap text-gray hover:text-gray-light hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300'
                      id='second-tab' data-tabs-target='#second' type='button' role='tab' aria-controls='second'
                      aria-selected='true'>
                      <svg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5 mr-2' fill='none' viewBox='0 0 24 24'
                        stroke='currentColor'>
                        <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
                          d='M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z'>
                        </path>
                      </svg>
                      Kunlik hikmatlar
                    </button>
                  </li>

                  <li class='mr-2' role='presentation'>
                    <button
                      class='inline-flex items-center text-gray-500 whitespace-nowrap text-gray hover:text-gray-light hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300'
                      id='ferst-tab' data-tabs-target='#ferst' type='button' role='tab' aria-controls='ferst'
                      aria-selected='false'>
                      <svg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5 mr-2' fill='none' viewBox='0 0 24 24'
                        stroke='currentColor'>
                        <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
                          d='M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z'>
                        </path>
                      </svg>
                      Pull
                    </button>

                  </li>

                  <li class='mr-2' role='presentation'>
                    <button
                      class='inline-flex items-center text-gray-500 whitespace-nowrap text-gray hover:text-gray-light hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300'
                      id='theerd-tab' data-tabs-target='#theerd' type='button' role='tab' aria-controls='theerd'
                      aria-selected='false'>
                      <svg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5 mr-2' fill='none' viewBox='0 0 24 24'
                        stroke='currentColor'>
                        <path d='M12 14l9-5-9-5-9 5 9 5z'></path>
                        <path
                          d='M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z'>
                        </path>
                        <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
                          d='M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222'>
                        </path>
                      </svg>
                      Bilim
                    </button>
                  </li>

                  <li class='mr-2' role='presentation'>
                    <button
                      class='inline-flex items-center text-gray-500 whitespace-nowrap text-gray hover:text-gray-light hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300'
                      id='fourth-tab' data-tabs-target='#fourth' type='button' role='tab' aria-controls='fourth'
                      aria-selected='false'>
                      <svg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5 mr-2' fill='none' viewBox='0 0 24 24'
                        stroke='currentColor'>
                        <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
                          d='M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253'>
                        </path>
                      </svg>
                      Kitob
                    </button>
                  </li>

                </ul>
              </div>

              <!-- TAB CONTENT -->
              <div id='myTabContent'>

                <div class='flex flex-col gap-4 hidden' id='ferst' role='tabpanel' aria-labelledby='ferst-tab'>

                  <div class='group w-full border-b border-gray-200 cursor-pointer lg:hover:bg-gray-100 py-6 lg:p-4'>
                    <a href='QuoteDetales.html'>
                      <p class='text-sm break-normal font-semibold text-gray-900 line-clamp-3 mb-2'>
                        Yaxshi va yomon xulqning hammasi sharoit, tarbiya,
                        odatlanish natijasida vujudga keladi. Yaxshi xulqqa ham odat
                        tufayli erishiladi. Yaxshi va yomon xulqning hammasi
                        sharoit, tarbiya, odatlanish natijasida vujudga keladi.
                        Yaxshi xulqqa ham odat tufayli erishiladi.ss
                      </p>
                      <div class='flex flex-row items-center justify-between flex-nowrap'>
                        <div>
                          <p class='text-gray-400 font-medium text-sm line-clamp-1'>Abu Ali Ibn Sino</p>
                        </div>
                        <div class='flex flex-nowrap items-center space-x-4 hidden lg:block'>
                          <button data-tooltip-target='tooltip-default' type='button'
                            class='rounded-full p-1 text-center text-gray-400 hover:text-gray-900 lg:invisible group-hover:visible'>
                            <svg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24'
                              stroke='currentColor'>
                              <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
                                d='M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z'>
                              </path>
                            </svg>
                          </button>
                          <div id='tooltip-default' role='tooltip'
                            class='inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700'>
                            Sevimlilay safiga qo'shish
                            <div class='tooltip-arrow' data-popper-arrow></div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class='group w-full border-b border-gray-200 cursor-pointer lg:hover:bg-gray-100 py-6 lg:p-4'>
                    <a href='QuoteDetales.html'>
                      <p class='text-sm break-normal font-semibold text-gray-900 line-clamp-3 mb-2'>
                        Yaxshi va yomon xulqning hammasi sharoit, tarbiya,
                        odatlanish natijasida vujudga keladi. Yaxshi xulqqa ham odat
                        tufayli erishiladi. Yaxshi va yomon xulqning hammasi
                        sharoit, tarbiya, odatlanish natijasida vujudga keladi.
                        Yaxshi xulqqa ham odat tufayli erishiladi.ss
                      </p>
                      <div class='flex flex-row items-center justify-between flex-nowrap'>
                        <div>
                          <p class='text-gray-400 font-medium text-sm line-clamp-1'>Abu Ali Ibn Sino</p>
                        </div>
                        <div class='flex flex-nowrap items-center space-x-4 hidden lg:block'>
                          <button data-tooltip-target='tooltip-default' type='button'
                            class='rounded-full p-1 text-center text-gray-400 hover:text-gray-900 lg:invisible group-hover:visible'>
                            <svg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24'
                              stroke='currentColor'>
                              <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
                                d='M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z'>
                              </path>
                            </svg>
                          </button>
                          <div id='tooltip-default' role='tooltip'
                            class='inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700'>
                            Sevimlilay safiga qo'shish
                            <div class='tooltip-arrow' data-popper-arrow></div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>

                  <!-- Pagination -->
                  <div class='flex items-center justify-center py-6'>
                    <ul class='inline-flex space-x-2'>
                      <li>
                        <button
                          class='flex items-center justify-center w-9 h-9 border border-gray-300 duration-150 rounded-full hover:bg-primary-light text-gray'>
                          <svg class='w-4 h-4 fill-gray-light' viewBox='0 0 20 20'>
                            <path d='M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293
                        3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1
                        1 0 011.414 0z' clip-rule='evenodd' fill-rule='evenodd'></path>
                          </svg>
                        </button>
                      </li>
                      <li>
                        <button
                          class='text-sm w-9 h-9 duration-150 rounded-full hover:bg-primary-light border border-gray-300 text-gray-900'>1</button>
                      </li>
                      <li>
                        <button
                          class='text-sm w-9 h-9 duration-150 rounded-full hover:bg-primary-light border border-gray-300 text-gray-900'>2</button>
                      </li>
                      <li>
                        <button
                          class='text-sm bg-primary w-9 h-9 duration-150 border-r-0 rounded-full border-gray-900 text-white'>3</button>
                      </li>
                      <li>
                        <button
                          class='text-sm w-9 h-9 duration-150 text-gray-900 rounded-full hover:bg-primary-light border border-gray-300'>4</button>
                      </li>

                      <li>
                        <button
                          class='flex items-center justify-center text-sm w-9 h-9 duration-150 text-gray-900 rounded-full hover:bg-primary-light border border-gray-300'>
                          <svg xmlns='http://www.w3.org/2000/svg' class='h-4.5 w-4 text-primary' fill='none'
                            viewBox='0 0 24 24' stroke='currentColor'>
                            <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012
            0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012
            0z'></path>
                          </svg>
                        </button>
                      </li>

                      <li>
                        <button
                          class='flex items-center justify-center w-9 h-9 duration-150 rounded-full hover:bg-primary-light border border-gray-300 hover:fill-gray'>
                          <svg class='w-4 h-4 fill-gray-light' viewBox='0 0 20 20'>
                            <path d='M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293
                        6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1
                        0 01-1.414 0z' clip-rule='evenodd' fill-rule='evenodd'></path>
                          </svg>
                        </button>
                      </li>
                    </ul>
                  </div>

                </div>

                <div class='flex flex-col gap-4' id='second' role='tabpanel' aria-labelledby='second-tab'>

                  <div class='group w-full border-b border-gray-200 cursor-pointer lg:hover:bg-gray-100 py-6 lg:p-4'>
                    <a href='QuoteDetales.html'>
                      <p class='text-sm break-normal font-semibold text-gray-900 line-clamp-3 mb-2'>
                        Yaxshi va yomon xulqning hammasi sharoit, tarbiya,
                        odatlanish natijasida vujudga keladi. Yaxshi xulqqa ham odat
                        tufayli erishiladi. Yaxshi va yomon xulqning hammasi
                        sharoit, tarbiya, odatlanish natijasida vujudga keladi.
                        Yaxshi xulqqa ham odat tufayli erishiladi.ss
                      </p>
                      <div class='flex flex-row items-center justify-between flex-nowrap'>
                        <div>
                          <p class='text-gray-400 font-medium text-sm line-clamp-1'>Abu Ali Ibn Sino</p>
                        </div>
                        <div class='flex flex-nowrap items-center space-x-4 hidden lg:block'>
                          <button data-tooltip-target='tooltip-default' type='button'
                            class='rounded-full p-1 text-center text-gray-400 hover:text-gray-900 lg:invisible group-hover:visible'>
                            <svg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24'
                              stroke='currentColor'>
                              <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
                                d='M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z'>
                              </path>
                            </svg>
                          </button>
                          <div id='tooltip-default' role='tooltip'
                            class='inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700'>
                            Sevimlilay safiga qo'shish
                            <div class='tooltip-arrow' data-popper-arrow></div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class='group w-full border-b border-gray-200 cursor-pointer lg:hover:bg-gray-100 py-6 lg:p-4'>
                    <a href='QuoteDetales.html'>
                      <p class='text-sm break-normal font-semibold text-gray-900 line-clamp-3 mb-2'>
                        Yaxshi va yomon xulqning hammasi sharoit, tarbiya,
                        odatlanish natijasida vujudga keladi. Yaxshi xulqqa ham odat
                        tufayli erishiladi. Yaxshi va yomon xulqning hammasi
                        sharoit, tarbiya, odatlanish natijasida vujudga keladi.
                        Yaxshi xulqqa ham odat tufayli erishiladi.ss
                      </p>
                      <div class='flex flex-row items-center justify-between flex-nowrap'>
                        <div>
                          <p class='text-gray-400 font-medium text-sm line-clamp-1'>Abu Ali Ibn Sino</p>
                        </div>
                        <div class='flex flex-nowrap items-center space-x-4 hidden lg:block'>
                          <button data-tooltip-target='tooltip-default' type='button'
                            class='rounded-full p-1 text-center text-gray-400 hover:text-gray-900 lg:invisible group-hover:visible'>
                            <svg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24'
                              stroke='currentColor'>
                              <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
                                d='M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z'>
                              </path>
                            </svg>
                          </button>
                          <div id='tooltip-default' role='tooltip'
                            class='inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700'>
                            Sevimlilay safiga qo'shish
                            <div class='tooltip-arrow' data-popper-arrow></div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class='group w-full border-b border-gray-200 cursor-pointer lg:hover:bg-gray-100 py-6 lg:p-4'>
                    <a href='QuoteDetales.html'>
                      <p class='text-sm break-normal font-semibold text-gray-900 line-clamp-3 mb-2'>
                        Yaxshi va yomon xulqning hammasi sharoit, tarbiya,
                        odatlanish natijasida vujudga keladi. Yaxshi xulqqa ham odat
                        tufayli erishiladi. Yaxshi va yomon xulqning hammasi
                        sharoit, tarbiya, odatlanish natijasida vujudga keladi.
                        Yaxshi xulqqa ham odat tufayli erishiladi.ss
                      </p>
                      <div class='flex flex-row items-center justify-between flex-nowrap'>
                        <div>
                          <p class='text-gray-400 font-medium text-sm line-clamp-1'>Abu Ali Ibn Sino</p>
                        </div>
                        <div class='flex flex-nowrap items-center space-x-4 hidden lg:block'>
                          <button data-tooltip-target='tooltip-default' type='button'
                            class='rounded-full p-1 text-center text-gray-400 hover:text-gray-900 lg:invisible group-hover:visible'>
                            <svg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24'
                              stroke='currentColor'>
                              <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
                                d='M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z'>
                              </path>
                            </svg>
                          </button>
                          <div id='tooltip-default' role='tooltip'
                            class='inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700'>
                            Sevimlilay safiga qo'shish
                            <div class='tooltip-arrow' data-popper-arrow></div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>

                  <!-- Pagination -->
                  <div class='flex items-center justify-center py-6'>
                    <ul class='inline-flex space-x-2'>
                      <li>
                        <button
                          class='flex items-center justify-center w-9 h-9 border border-gray-300 duration-150 rounded-full hover:bg-primary-light text-gray'>
                          <svg class='w-4 h-4 fill-gray-light' viewBox='0 0 20 20'>
                            <path d='M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293
                        3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1
                        1 0 011.414 0z' clip-rule='evenodd' fill-rule='evenodd'></path>
                          </svg>
                        </button>
                      </li>
                      <li>
                        <button
                          class='text-sm w-9 h-9 duration-150 rounded-full hover:bg-primary-light border border-gray-300 text-gray-900'>1</button>
                      </li>
                      <li>
                        <button
                          class='text-sm w-9 h-9 duration-150 rounded-full hover:bg-primary-light border border-gray-300 text-gray-900'>2</button>
                      </li>
                      <li>
                        <button
                          class='text-sm bg-primary w-9 h-9 duration-150 border-r-0 rounded-full border-gray-900 text-white'>3</button>
                      </li>
                      <li>
                        <button
                          class='text-sm w-9 h-9 duration-150 text-gray-900 rounded-full hover:bg-primary-light border border-gray-300'>4</button>
                      </li>

                      <li>
                        <button
                          class='flex items-center justify-center text-sm w-9 h-9 duration-150 text-gray-900 rounded-full hover:bg-primary-light border border-gray-300'>
                          <svg xmlns='http://www.w3.org/2000/svg' class='h-4.5 w-4 text-primary' fill='none'
                            viewBox='0 0 24 24' stroke='currentColor'>
                            <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012
            0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012
            0z'></path>
                          </svg>
                        </button>
                      </li>

                      <li>
                        <button
                          class='flex items-center justify-center w-9 h-9 duration-150 rounded-full hover:bg-primary-light border border-gray-300 hover:fill-gray'>
                          <svg class='w-4 h-4 fill-gray-light' viewBox='0 0 20 20'>
                            <path d='M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293
                        6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1
                        0 01-1.414 0z' clip-rule='evenodd' fill-rule='evenodd'></path>
                          </svg>
                        </button>
                      </li>
                    </ul>
                  </div>

                </div>

                <div class='flex flex-col gap-4 hidden' id='theerd' role='tabpanel' aria-labelledby='theerd-tab'>

                  <div class='group w-full border-b border-gray-200 cursor-pointer lg:hover:bg-gray-100 py-6 lg:p-4'>
                    <a href='QuoteDetales.html'>
                      <p class='text-sm break-normal font-semibold text-gray-900 line-clamp-3 mb-2'>
                        Yaxshi va yomon xulqning hammasi sharoit, tarbiya,
                        odatlanish natijasida vujudga keladi. Yaxshi xulqqa ham odat
                        tufayli erishiladi. Yaxshi va yomon xulqning hammasi
                        sharoit, tarbiya, odatlanish natijasida vujudga keladi.
                        Yaxshi xulqqa ham odat tufayli erishiladi.ss
                      </p>
                      <div class='flex flex-row items-center justify-between flex-nowrap'>
                        <div>
                          <p class='text-gray-400 font-medium text-sm line-clamp-1'>Abu Ali Ibn Sino</p>
                        </div>
                        <div class='flex flex-nowrap items-center space-x-4 hidden lg:block'>
                          <button data-tooltip-target='tooltip-default' type='button'
                            class='rounded-full p-1 text-center text-gray-400 hover:text-gray-900 lg:invisible group-hover:visible'>
                            <svg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24'
                              stroke='currentColor'>
                              <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
                                d='M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z'>
                              </path>
                            </svg>
                          </button>
                          <div id='tooltip-default' role='tooltip'
                            class='inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700'>
                            Sevimlilay safiga qo'shish
                            <div class='tooltip-arrow' data-popper-arrow></div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <!-- Pagination -->
                  <div class='flex items-center justify-center py-6'>
                    <ul class='inline-flex space-x-2'>
                      <li>
                        <button
                          class='flex items-center justify-center w-9 h-9 border border-gray-300 duration-150 rounded-full hover:bg-primary-light text-gray'>
                          <svg class='w-4 h-4 fill-gray-light' viewBox='0 0 20 20'>
                            <path d='M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293
                        3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1
                        1 0 011.414 0z' clip-rule='evenodd' fill-rule='evenodd'></path>
                          </svg>
                        </button>
                      </li>
                      <li>
                        <button
                          class='text-sm w-9 h-9 duration-150 rounded-full hover:bg-primary-light border border-gray-300 text-gray-900'>1</button>
                      </li>
                      <li>
                        <button
                          class='text-sm w-9 h-9 duration-150 rounded-full hover:bg-primary-light border border-gray-300 text-gray-900'>2</button>
                      </li>
                      <li>
                        <button
                          class='text-sm bg-primary w-9 h-9 duration-150 border-r-0 rounded-full border-gray-900 text-white'>3</button>
                      </li>
                      <li>
                        <button
                          class='text-sm w-9 h-9 duration-150 text-gray-900 rounded-full hover:bg-primary-light border border-gray-300'>4</button>
                      </li>

                      <li>
                        <button
                          class='flex items-center justify-center text-sm w-9 h-9 duration-150 text-gray-900 rounded-full hover:bg-primary-light border border-gray-300'>
                          <svg xmlns='http://www.w3.org/2000/svg' class='h-4.5 w-4 text-primary' fill='none'
                            viewBox='0 0 24 24' stroke='currentColor'>
                            <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012
            0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012
            0z'></path>
                          </svg>
                        </button>
                      </li>

                      <li>
                        <button
                          class='flex items-center justify-center w-9 h-9 duration-150 rounded-full hover:bg-primary-light border border-gray-300 hover:fill-gray'>
                          <svg class='w-4 h-4 fill-gray-light' viewBox='0 0 20 20'>
                            <path d='M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293
                        6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1
                        0 01-1.414 0z' clip-rule='evenodd' fill-rule='evenodd'></path>
                          </svg>
                        </button>
                      </li>
                    </ul>
                  </div>

                </div>

                <div class='flex flex-col gap-4 hidden' id='fourth' role='tabpanel' aria-labelledby='fourth-tab'>

                  <div class='group w-full border-b border-gray-200 cursor-pointer lg:hover:bg-gray-100 py-6 lg:p-4'>
                    <a href='QuoteDetales.html'>
                      <p class='text-sm break-normal font-semibold text-gray-900 line-clamp-3 mb-2'>
                        Yaxshi va yomon xulqning hammasi sharoit, tarbiya,
                        odatlanish natijasida vujudga keladi. Yaxshi xulqqa ham odat
                        tufayli erishiladi. Yaxshi va yomon xulqning hammasi
                        sharoit, tarbiya, odatlanish natijasida vujudga keladi.
                        Yaxshi xulqqa ham odat tufayli erishiladi.ss
                      </p>
                      <div class='flex flex-row items-center justify-between flex-nowrap'>
                        <div>
                          <p class='text-gray-400 font-medium text-sm line-clamp-1'>Abu Ali Ibn Sino</p>
                        </div>
                        <div class='flex flex-nowrap items-center space-x-4 hidden lg:block'>
                          <button data-tooltip-target='tooltip-default' type='button'
                            class='rounded-full p-1 text-center text-gray-400 hover:text-gray-900 lg:invisible group-hover:visible'>
                            <svg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24'
                              stroke='currentColor'>
                              <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
                                d='M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z'>
                              </path>
                            </svg>
                          </button>
                          <div id='tooltip-default' role='tooltip'
                            class='inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700'>
                            Sevimlilay safiga qo'shish
                            <div class='tooltip-arrow' data-popper-arrow></div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class='group w-full border-b border-gray-200 cursor-pointer lg:hover:bg-gray-100 py-6 lg:p-4'>
                    <a href='QuoteDetales.html'>
                      <p class='text-sm break-normal font-semibold text-gray-900 line-clamp-3 mb-2'>
                        Yaxshi va yomon xulqning hammasi sharoit, tarbiya,
                        odatlanish natijasida vujudga keladi. Yaxshi xulqqa ham odat
                        tufayli erishiladi. Yaxshi va yomon xulqning hammasi
                        sharoit, tarbiya, odatlanish natijasida vujudga keladi.
                        Yaxshi xulqqa ham odat tufayli erishiladi.ss
                      </p>
                      <div class='flex flex-row items-center justify-between flex-nowrap'>
                        <div>
                          <p class='text-gray-400 font-medium text-sm line-clamp-1'>Abu Ali Ibn Sino</p>
                        </div>
                        <div class='flex flex-nowrap items-center space-x-4 hidden lg:block'>
                          <button data-tooltip-target='tooltip-default' type='button'
                            class='rounded-full p-1 text-center text-gray-400 hover:text-gray-900 lg:invisible group-hover:visible'>
                            <svg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24'
                              stroke='currentColor'>
                              <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
                                d='M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z'>
                              </path>
                            </svg>
                          </button>
                          <div id='tooltip-default' role='tooltip'
                            class='inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700'>
                            Sevimlilay safiga qo'shish
                            <div class='tooltip-arrow' data-popper-arrow></div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class='group w-full border-b border-gray-200 cursor-pointer lg:hover:bg-gray-100 py-6 lg:p-4'>
                    <a href='QuoteDetales.html'>
                      <p class='text-sm break-normal font-semibold text-gray-900 line-clamp-3 mb-2'>
                        Yaxshi va yomon xulqning hammasi sharoit, tarbiya,
                        odatlanish natijasida vujudga keladi. Yaxshi xulqqa ham odat
                        tufayli erishiladi. Yaxshi va yomon xulqning hammasi
                        sharoit, tarbiya, odatlanish natijasida vujudga keladi.
                        Yaxshi xulqqa ham odat tufayli erishiladi.ss
                      </p>
                      <div class='flex flex-row items-center justify-between flex-nowrap'>
                        <div>
                          <p class='text-gray-400 font-medium text-sm line-clamp-1'>Abu Ali Ibn Sino</p>
                        </div>
                        <div class='flex flex-nowrap items-center space-x-4 hidden lg:block'>
                          <button data-tooltip-target='tooltip-default' type='button'
                            class='rounded-full p-1 text-center text-gray-400 hover:text-gray-900 lg:invisible group-hover:visible'>
                            <svg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24'
                              stroke='currentColor'>
                              <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
                                d='M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z'>
                              </path>
                            </svg>
                          </button>
                          <div id='tooltip-default' role='tooltip'
                            class='inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700'>
                            Sevimlilay safiga qo'shish
                            <div class='tooltip-arrow' data-popper-arrow></div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>

                  <!-- Pagination -->
                  <div class='flex items-center justify-center py-6'>
                    <ul class='inline-flex space-x-2'>
                      <li>
                        <button
                          class='flex items-center justify-center w-9 h-9 border border-gray-300 duration-150 rounded-full hover:bg-primary-light text-gray'>
                          <svg class='w-4 h-4 fill-gray-light' viewBox='0 0 20 20'>
                            <path d='M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293
                        3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1
                        1 0 011.414 0z' clip-rule='evenodd' fill-rule='evenodd'></path>
                          </svg>
                        </button>
                      </li>
                      <li>
                        <button
                          class='text-sm w-9 h-9 duration-150 rounded-full hover:bg-primary-light border border-gray-300 text-gray-900'>1</button>
                      </li>
                      <li>
                        <button
                          class='text-sm w-9 h-9 duration-150 rounded-full hover:bg-primary-light border border-gray-300 text-gray-900'>2</button>
                      </li>
                      <li>
                        <button
                          class='text-sm bg-primary w-9 h-9 duration-150 border-r-0 rounded-full border-gray-900 text-white'>3</button>
                      </li>
                      <li>
                        <button
                          class='text-sm w-9 h-9 duration-150 text-gray-900 rounded-full hover:bg-primary-light border border-gray-300'>4</button>
                      </li>

                      <li>
                        <button
                          class='flex items-center justify-center text-sm w-9 h-9 duration-150 text-gray-900 rounded-full hover:bg-primary-light border border-gray-300'>
                          <svg xmlns='http://www.w3.org/2000/svg' class='h-4.5 w-4 text-primary' fill='none'
                            viewBox='0 0 24 24' stroke='currentColor'>
                            <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012
            0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012
            0z'></path>
                          </svg>
                        </button>
                      </li>

                      <li>
                        <button
                          class='flex items-center justify-center w-9 h-9 duration-150 rounded-full hover:bg-primary-light border border-gray-300 hover:fill-gray'>
                          <svg class='w-4 h-4 fill-gray-light' viewBox='0 0 20 20'>
                            <path d='M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293
                        6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1
                        0 01-1.414 0z' clip-rule='evenodd' fill-rule='evenodd'></path>
                          </svg>
                        </button>
                      </li>
                    </ul>
                  </div>

                </div>

              </div>
            </div>

          </div>
        </section>

        <!-- FOOTER -->
        <%- include('../components/footer.ejs') %>

          <!-- NAVIGATIN SLIDER -->

          <%- include('../components/navigation.ejs') %>

            <script>
              let slider = document.getElementById('slider')
              let sliderBg = document.getElementById('slider_bg')
              function show() {
                slider.style.transform = "translateX(0)"
                sliderBg.style.display = "block"
                sliderBg.style.opacity = "100%"
              }
              function closeSlider() {
                slider.style.transform = "translateX(-700px)"
                sliderBg.style.display = "none"
              }
            </script>
            <script src='https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.bundle.js'></script>
  </body>

</html>