<html>

<%- include('../partials/head.ejs') %>

  <body>

    <!-- Header -->
    <%- include('../components/header.ejs') %>

      <!-- SEARCH  -->

      <%- include('../components/search.ejs') %>
        <!-- CONTENT -->
        <section class='flex justify-center py-6' style='min-height: calc(100vh - 176px);'>
          <div class='container px-6 md:px-24 lg:px-48 xl:px-72'>

            <!-- QUOTE RANDOMATHER BUTTON -->
            <div>
              <button data-tooltip-target='addQuote' data-tooltip-placement='top' type='button'
                class='fixed shadow-lg bottom-10 right-10 flex items-center justify-center p-0 w-12 h-12 text-gray bg-primary rounded-full hover:bg-primary-light'>
                <svg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6 text-white' fill='none' viewBox='0 0 24 24'
                  stroke='currentColor'>
                  <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
                    d='M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15'>
                  </path>
                </svg>
              </button>
              <div id='addQuote' role='tooltip'
                class='inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-800 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700'>
                Yangilash
                <div class='tooltip-arrow' data-popper-arrow></div>
              </div>
            </div>

            <!-- TITLE -->
            <p class='text-md text-gray font-semibold py-6'>Tasodifiy tartibda</p>

            <!-- RANDOM QUOTES -->
            <div class='flex flex-col gap-4 border-t border-gray-200 lg:py-4' id='second' role='tabpanel'
              aria-labelledby='second-tab'>

              <% quotes.forEach((quote)=> { %>

                <div
                  class='group w-full border-b border-gray-200 cursor-pointer lg:hover:bg-gray-100 py-6 lg:p-4 last:border-none'>
                  <a href='QuoteDetales.html'>
                    <p class='text-sm break-normal font-semibold text-gray-900 line-clamp-3 mb-2'>

                      <%= quote.content %>
                    </p>
                    <div class='flex flex-row items-center justify-between flex-nowrap'>

                      <% if(quote.author){ %>
                        <div>
                          <p class='text-gray-400 font-medium text-sm line-clamp-1'>
                            <%= quote.author.full_name %>
                          </p>
                        </div>
                        <%}%>

                          <div class='flex flex-nowrap items-center space-x-4 hidden lg:block'>
                            <button data-tooltip-target='tooltip-default' type='button'
                              class='rounded-full p-1 text-center text-gray-400 hover:text-gray-900 lg:invisible group-hover:visible'>
                              <svg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24'
                                stroke='currentColor'>
                                <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
                                  d='M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z'>
                                </path>
                              </svg>
                            </button>
                            <div id='tooltip-default' role='tooltip'
                              class='inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700'>
                              Sevimlilay safiga qo'shish
                              <div class='tooltip-arrow' data-popper-arrow></div>
                            </div>
                          </div>
                    </div>
                  </a>
                </div>

                <% }); %>

            </div>

          </div>
        </section>

        <!-- FOOTER -->
        <%- include('../components/footer.ejs') %>

          <!-- NAVIGATIN SLIDER -->

          <%- include('../components/navigation.ejs') %>

            <script>
              let slider = document.getElementById('slider')
              let sliderBg = document.getElementById('slider_bg')
              function show() {
                slider.style.transform = "translateX(0)"
                sliderBg.style.display = "block"
                sliderBg.style.opacity = "100%"
              }
              function closeSlider() {
                slider.style.transform = "translateX(-700px)"
                sliderBg.style.display = "none"
              }
            </script>
            <script src='https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.bundle.js'></script>
  </body>

</html>